body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: #ffffff;
    margin: 0;
}

header {
    padding: 15px;
    font-size: 22px;
    background: #020617;
}

nav {
    padding: 10px;
    background: #020617;
}

nav a {
    color: #38bdf8;
    margin-right: 15px;
    text-decoration: none;
}

.container {
    padding: 20px;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

button {
    padding: 10px;
    width: 100%;
    background: #38bdf8;
    border: none;
    cursor: pointer;
}

.result {
    margin-top: 15px;
    padding: 10px;
    background: #020617;
}
